:root {
    --fsop-0: #800080;
    --fsop-1: #9370db;
    --fsop-2: #bf00ff;
    --fsop-3: #a020f0;
    --fsop-4: #9f00c5;
    --fsop-5: #66023c;
    --fsop-6: #92717c;
    --fsop-7: #7851a9;
    --fsop-8: #6c3082;
    --fsop-9: #9678b6;
    --fsop-10: #86608e;
    --fsop-11: #b768a2;
    --fsop-12: #843f5b;
    --fsop-13: #9966cc;
    --fsop-14: #69359c;
    --fsop-15: #bd33a4;
    --fsop-16: #702963;
    --fsop-17: #5d3954;
    --fsop-18: #682860;
    --fsop-19: #66424d;
    --fsop-20: #915c83;
    --fsop-21: #c154c1;
    --fsop-22: #ca2c92;
    --fsop-23: #563c5c;
    --fsop-24: #df00ff;
    --fsop-25: #da70d6;
    --fsop-26: #d39bcb;
    --fsop-27: #ba55d3;
    --fsop-28: #9932cc;
    --fsop-29: #cc00ff;
    --fsop-30: #d19fe8;
    --fsop-31: #663854;
    --fsop-32: #614051;
    --fsop-33: #430541;
    --fsop-34: #990066;
    --fsop-35: #873260;
    --fsop-36: #872657;
    --fsop-37: #c54b8c;
    --fsop-38: #fc5a8d;
    --fsop-39: #ff43a4;
    --fsop-40: #8f00ff;
    --fsop-41: #b39eb5;
    --fsop-42: #b19cd9;
    --fsop-43: #966fd6;
    --fsop-44: #9a4eae;
    --fsop-45: #de5d83;
    --fsop-46: #fe4eda;
    --fsop-47: #b53389;
    --fsop-48: #880085;
    --fsop-49: #50404d;
}
