:root {
    --fsop-0: #800080;
    --fsop-1: #9370db;
    --fsop-2: #bf00ff;
    --fsop-3: #a020f0;
    --fsop-4: #9f00c5;
    --fsop-5: #66023c;
    --fsop-6: #92717c;
    --fsop-7: #7851a9;
    --fsop-8: #6c3082;
    --fsop-9: #9678b6;
    --fsop-10: #86608e;
    --fsop-11: #b768a2;
    --fsop-12: #843f5b;
    --fsop-13: #9966cc;
    --fsop-14: #69359c;
    --fsop-15: #bd33a4;
    --fsop-16: #702963;
    --fsop-17: #5d3954;
    --fsop-18: #682860;
    --fsop-19: #66424d;
    --fsop-20: #915c83;
    --fsop-21: #c154c1;
    --fsop-22: #ca2c92;
    --fsop-23: #563c5c;
    --fsop-24: #df00ff;
    --fsop-25: #da70d6;
    --fsop-26: #d39bcb;
    --fsop-27: #ba55d3;
    --fsop-28: #9932cc;
    --fsop-29: #cc00ff;
    --fsop-30: #d19fe8;
    --fsop-31: #663854;
    --fsop-32: #614051;
    --fsop-33: #430541;
    --fsop-34: #990066;
    --fsop-35: #873260;
    --fsop-36: #872657;
    --fsop-37: #c54b8c;
    --fsop-38: #fc5a8d;
    --fsop-39: #ff43a4;
    --fsop-40: #8f00ff;
    --fsop-41: #b39eb5;
    --fsop-42: #b19cd9;
    --fsop-43: #966fd6;
    --fsop-44: #9a4eae;
    --fsop-45: #de5d83;
    --fsop-46: #fe4eda;
    --fsop-47: #b53389;
    --fsop-48: #880085;
    --fsop-49: #50404d;

    --fsop-rgb-0: 128,0,128;
    --fsop-rgb-1: 147,112,219;
    --fsop-rgb-2: 191,0,255;
    --fsop-rgb-3: 160,32,240;
    --fsop-rgb-4: 159,0,197;
    --fsop-rgb-5: 102,2,60;
    --fsop-rgb-6: 146,113,124;
    --fsop-rgb-7: 120,81,169;
    --fsop-rgb-8: 108,48,130;
    --fsop-rgb-9: 150,120,182;
    --fsop-rgb-10: 134,96,142;
    --fsop-rgb-11: 183,104,162;
    --fsop-rgb-12: 132,63,91;
    --fsop-rgb-13: 153,102,204;
    --fsop-rgb-14: 105,53,156;
    --fsop-rgb-15: 189,51,164;
    --fsop-rgb-16: 112,41,99;
    --fsop-rgb-17: 93,57,84;
    --fsop-rgb-18: 104,40,96;
    --fsop-rgb-19: 102,66,77;
    --fsop-rgb-20: 145,92,131;
    --fsop-rgb-21: 193,84,193;
    --fsop-rgb-22: 202,44,146;
    --fsop-rgb-23: 86,60,92;
    --fsop-rgb-24: 223,0,255;
    --fsop-rgb-25: 218,112,214;
    --fsop-rgb-26: 211,155,203;
    --fsop-rgb-27: 186,85,211;
    --fsop-rgb-28: 153,50,204;
    --fsop-rgb-29: 204,0,255;
    --fsop-rgb-30: 209,159,232;
    --fsop-rgb-31: 102,56,84;
    --fsop-rgb-32: 97,64,81;
    --fsop-rgb-33: 67,5,65;
    --fsop-rgb-34: 153,0,102;
    --fsop-rgb-35: 135,50,96;
    --fsop-rgb-36: 135,38,87;
    --fsop-rgb-37: 197,75,140;
    --fsop-rgb-38: 252,90,141;
    --fsop-rgb-39: 255,67,164;
    --fsop-rgb-40: 143,0,255;
    --fsop-rgb-41: 179,158,181;
    --fsop-rgb-42: 177,156,217;
    --fsop-rgb-43: 150,111,214;
    --fsop-rgb-44: 154,78,174;
    --fsop-rgb-45: 222,93,131;
    --fsop-rgb-46: 254,78,218;
    --fsop-rgb-47: 181,51,137;
    --fsop-rgb-48: 136,0,133;
    --fsop-rgb-49: 80,64,77;
}
